    {% extends 'layout.html' %}
    {% block content %}
    <section class="header">
        <h1>Justin Hill</h1>
        <p>Becoming a World Class Software Engineer</p>
        <img src="static/images/hiking.jpeg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>About Me</h2>
        <p>
            About Me:
I really enjoy thinking deeply and tackling challenging concepts and ideas. I fell in love with Computer Science as my avenue to make a positive impact on the world with respect to Computer Science's versatile career avenues, limitless potential to address interesting problems worth solving, and universal applicability to all fields of study and industry.
<br>
Future Plans:
After completing my bachelors degree I hope to go on and pursue an MS/MBA to put myself in position to make greater contributions to technology and business sectors in the 21st century.
        </p>
        <a href="../static/2021-08-13%20Hill,%20Justin%20Resumé.pdf" target="_blank"><i class="far fa-file"></i>Resume</a>
    </section>
    {% endblock %}
