    {% extends 'layout.html' %}
    {% block content %}
    <section class="header">
        <h1>Justin Hill</h1>
        <p>Becoming a World Class Software Engineer</p>
        <img src="static/images/hiking.jpeg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>About Me</h2>
        <p>
            More information about me
        </p>
        <a href="../static/2021-08-13%20Hill,%20Justin%20Resumé.pdf" target="_blank"><i class="far fa-file"></i>Resume</a>
    </section>
    {% endblock %}
